* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(100deg, red, yellow, green);
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;

    .Cabezera {
        text-align: center;
        align-items: center;
        height: 100px;
    }

    .navegation {
        border: solid white;
    }

    .bandera {
        height: 50px;
        width: 50%;
    }

    .Conatainer-master {
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        border: solid 3px white;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        margin: 10px
    }

    .Description-bandera {
        border: solid 1px white;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            border: solid white 2px;
            background: linear-gradient(50deg, red, yellow, green);
            letter-spacing: 5px;
            color: white;
            text-shadow: 2px 2px 3px black;
            padding: 15px;
        }

        .bandera-1 {
            border: solid 2px white;
            height: 150px;
            width: 100%;
        }

        p {
            color: black;
            font-size: 20px;
            text-align: left;
        }
    }

    .Description-alcalde {
        border: solid 3px white;
        h2 {
            border: solid white 2px;
            background: linear-gradient(50deg, red, yellow, green);
            letter-spacing: 5px;
            color: white;
            text-shadow: 2px 2px 3px black;
            padding: 15px;
            text-align: center;
        }

        p {
            color: black;
            font-size: 20px;
            text-align: left;
        }
        .alcalde{
            border: solid 2px white;
            height: 550px;
            width: 100%;
        }
    }

    
    .bandera:hover {
        box-shadow: white 10px 10px 10px 0px;
    }

    .navegation ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        height: 70px;
    }

    li {
        display: flex;
        list-style: none;
        color: black;
        text-shadow: 2px 2px 3px white;
        font-size: 20px;
        cursor: pointer;
        transition: 1s;
        text-align: center;
        width: 20%;
        justify-content: center;
        letter-spacing: 5px;
    }

    li:hover{
        transform: scale(1.1);
    }

    .Description_photo {
        border: solid white 2px;
        background-image: url(/Assets/Picture/maria-mulata.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-attachment: fixed;

        h1 {
            padding: 20px;
            color: black;
            text-align: center;
            letter-spacing: 5px;
            border: solid 2px white;
            align-items: center;
            text-shadow: 2px 2px 3px white;
        }

        h2 {
            padding: 20px;
            color: black;
            text-align: center;
            letter-spacing: 2px;
            align-items: center;
            text-shadow: 2px 2px 3px white;
        }

        h3 {
            padding: 20px;
            color: black;
            text-align: center;
            letter-spacing: 5px;
            border: solid 2px white;
            align-items: center;
        }

        p {
            color: black;
            text-align: left;
            font-size: 26px;
            text-shadow: 2px 2px 3px white;
        }
    }
    .collage-photo {
        border: solid 2px white;
        display: flex;
        flex-direction: column;
        gap: 50px;
        h2{
            padding: 20px;
            color: black;
            text-align: center;
            letter-spacing: 2px;
            align-items: center;
            text-shadow: 2px 2px 3px white;
        }
        .fotos{
            border: solid 2px white;
            height: 400px;
            width: 100%;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            transition: 1s;
        }
        .fotos:hover{
            transform: scale(0.9);
        }
    }
    .pie-pagina{
        background-image: url(/Assets/Picture/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        display: grid;
        grid-column: 1/-1;
        height: 100%;
        width: 100%;
    }
}