<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/Index.css">
    <link rel="shortcut icon" href="/Icons/home_27dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" type="image/x-icon">
    <title>Barranquilla</title>
</head>

<body>
    <header class="Cabezera">
        <nav class="Nav">
            <ul>
                <li class="icon">
                    <img src="/Picture/1.jpg" alt="" class="bandera">
                    <a href="">Barranquilla</a>
                </li>
                <li style="width: 20%;">
                    <a href="http://">Historia</a>
                </li>
                <li style="width: 20%;">
                    <a href="http://">Lugares</a>
                </li>
                <li style="width: 20%;">
                    <a href="http://">Contacto</a>
                </li>
                <li style="width: 20%;">
                    <a href="http://">Ayuda</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="description">
        <div class="foto">
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, eligendi molestias! Numquam iusto
                    sit doloremque nisi pariatur consequuntur, sunt, minima, porro harum dolorem quos iste voluptatibus
                    molestias sequi dolor nulla!</p>
            </div>
        </div>
        <div class="conatiner_1">
            <h2>Historia</h2>
            <p>
                La historia de Barranquilla se escribe partiendo alrededor de 1627, año en que probablemente fue fundada
                la hacienda San Nicolás, mucho más tarde que la mayoría de las otras principales ciudades colombianas
                que datan de comienzos del período de las provincias americanas del Imperio Español.

                En sus primeros días, la población de Barranquilla creció lentamente; estaba formada por artesanos,
                navegantes, transportistas y comerciantes. Durante el período colonial, la ciudad conoció una gran
                actividad comercial relacionada con el contrabando lucrativo. Desde finales del siglo XVIII, ganó
                importancia como puerto fluvial gracias a su ubicación geográfica; capta una parte importante del
                comercio a expensas de puertos más pequeños. Fue proclamada villa el 7 de abril de 1813 por el
                gobernador del Estado Libre de Cartagena, Manuel Rodríguez Torices, antes de obtener el título de ciudad
                en 1857. Durante la segunda mitad del siglo XIX y la primera mitad del siglo XX comenzó su considerable
                expansión en todas las áreas, tanto a nivel demográfico como económico, convirtiéndose en la tercera
                ciudad industrial más grande del país. En Colombia, es considerada como pionera en diversos sectores
                como aviación, servicios públicos o proyectos de urbanización.

                El declive de Barranquilla comenzó en las décadas de 1940 y 1950, cuando su puerto tuvo que enfrentar el
                ascenso del de Buenaventura. Desde la década de 1950 hasta los años 1980, se vio sumida en un período de
                inestabilidad política, enfrentó el empobrecimiento de los servicios públicos, la corrupción y sufrió
                una severa crisis financiera, así como graves deficiencias en los sectores de la salud y la educación.
                Durante la primera década del siglo XXI, Barranquilla comenzó una renovación en términos urbanísticos,
                políticos y económicos.
            </p>
            <iframe class="maps"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125335.00197782872!2d-74.90037693994404!3d10.984584016201683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d44d12ae605%3A0x2633844581b917b2!2sBarranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses!2sco!4v1775676454215!5m2!1ses!2sco"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h2>Alcaldia de Barranquilla</h2>
            <p>
                Alejandro Char Chaljub es el actual alcalde de Barranquilla para el periodo 2024-2027. Elegido por
                tercera vez, su administración se enfoca en la seguridad, la inversión social y la infraestructura,
                celebrando recientemente los 213 años de la ciudad. Es una figura política clave del grupo conocido como
                "charismo" en la región.
                Detalles clave sobre la administración de Alejandro Char (2024-2027):
                Enfoque en Seguridad: Char ha denunciado la falta de respaldo del Gobierno Nacional, afirmando que los
                gobiernos locales están "solos" en la lucha contra la criminalidad, y ha invertido en logística y
                tecnología para la policía.
                Gestión y Cumpleaños: En abril de 2026, destacó la transformación de la ciudad y celebró los 213 años de
                Barranquilla con eventos en la comunidad, incluyendo el desarrollo del malecón de Rebolo.
                Trayectoria: Es su tercer mandato, consolidando su influencia política tras su victoria en las
                elecciones de octubre de 2023.
            </p>
            <img src="/Picture/char.jpeg" alt="" class="char">
            <h2>Puntos clave de la Alcaldía:</h2>
            <P>
                La sede principal de la Alcaldía Distrital de Barranquilla se encuentra ubicada en el Paseo Bolívar
                (Calle
                34 #43-31) </P>
            <p>
                en el centro de la ciudad. Es el edificio administrativo central y atiende al público de lunes a
                viernes en
                horario de 8:00 a.m. a 5:00 p.m..</p>
            <p>
                Dirección Principal: Calle 34 No. 43-31, Paseo Bolívar.
                Sede alterna (Sisbén/Atención): Calle 45 # 44 - 77 (Murillo).
                Alcaldía Local Suroccidente: Carrera 21b local #63-06.
                Alcaldía Local Metropolitana: Calle 49 # 8B Sur - 15.
                Alcaldía de Barranquilla, Distrito Especial, Industrial y Portuario
            </p>

            </P>

            <iframe class="maps"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7833.341227083743!2d-74.78670005851488!3d10.98821590669464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d63bfd4e507%3A0xa739cb42fc224126!2sAlcald%C3%ADa%20De%20Barranquila!5e0!3m2!1ses!2sco!4v1775677691940!5m2!1ses!2sco"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="left">

            <div class="container_2">
                <h2>Barranquilla</h2>
                <img src="/Picture/catedral-scaled.jpeg" alt="" class="img_1">
                <img src="/Picture/ventana.jpg" alt="" class="img_2">
                <img src="/Picture/atardecer.jpg" alt="" class="img_3">
            </div>
            <div class="container_3">
                <h2>Barranquilla</h2>
                <img src="/Picture/malecon.jpeg" alt="" class="img_1">
                <img src="/Picture/aleta.jpeg" alt="" class="img_2">
                <img src="/Picture/Puerto_Mocho,_Barranquilla.jpg" alt="" class="img_3">
            </div>
        </div>
    </section>
</body>

</html>