<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/Index.css">
    <link rel="shortcut icon" href="/Icons/home_27dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" type="image/x-icon">
    <title>Barcelona FC</title>
</head>
<body>
    <header class="Cabezera">
        <nav class="Nav">
            <ul>
                <li class="icon">
                    <img src="/Picture/1.jpg" alt="" class="bandera">
                    <a href="">Barranquilla</a>
                </li>
                <li style="width: 20%;">
                    <a href="http://">Historia</a>
                </li>
                <li style="width: 20%;">
                    <a href="http://">Lugares</a>
                </li>
                <li style="width: 20%;">
                    <a href="http://">Contacto</a>
                </li>
                <li style="width: 20%;">
                    <a href="http://">Ayuda</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="description">
        <div class="foto">
            <img src="/Picture/ciudad.jpg" alt="">
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, eligendi molestias! Numquam iusto sit doloremque nisi pariatur consequuntur, sunt, minima, porro harum dolorem quos iste voluptatibus molestias sequi dolor nulla!</p>
            </div>
        </div>
        <div class="conatiner_1">
            <h2>Historia</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui provident quibusdam laboriosam assumenda illo sequi excepturi, corporis quam minima unde doloremque accusamus repudiandae enim aut dicta cupiditate perspiciatis ad fugit.
            </p>
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125335.00197782872!2d-74.90037693994404!3d10.984584016201683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d44d12ae605%3A0x2633844581b917b2!2sBarranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses!2sco!4v1775676454215!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h2>Alcalde</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sunt quia velit ipsam? Commodi inventore explicabo quae quis adipisci officia suscipit deserunt, similique dolores atque tenetur dicta. Officiis, corrupti necessitatibus.
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7833.341227083743!2d-74.78670005851488!3d10.98821590669464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d63bfd4e507%3A0xa739cb42fc224126!2sAlcald%C3%ADa%20De%20Barranquila!5e0!3m2!1ses!2sco!4v1775677691940!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="container_2">
            <h1 style="color: red;">hola</h1>
        </div>
    </section>
</body>
</html>