<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/Styles/modelo.css">
    <link rel="shortcut icon" href="/Assets/Icons/home.svg" type="image/x-icon">
    <title>Website</title>
</head>
<body>
    <header class="Cabezera">
        <nav class="navegation">
            <ul>
                <li>Barranquilla</li>
                <li>Home</li>
                <li>Ayuda</li>
                <li>Contacto</li>
            </ul>
        </nav>
    </header>
    <section class="Description_photo">
        <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, totam perferendis. Ullam sint
            adipisci quod autem nulla incidunt, aliquam nemo, assumenda qui officia similique et? Facilis cumque debitis
            nulla quas!</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque nobis reprehenderit quas commodi hic
            vero
            quasi maxime cum perferendis ducimus. Rem eius repellat eos voluptate laboriosam eligendi corporis, error
            sequi.
        </p>
    </section>
</body>

</html>