<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/Styles/modelo.css">
    <link rel="shortcut icon" href="/Assets/Icons/home.svg" type="image/x-icon">
    <title>Website</title>
</head>
<body>
    <header class="Cabezera">
        <nav class="navegation">
            <ul>
                <li>
                    <img src="/Assets/Picture/1.jpg" alt="" class="bandera">
                </li>
                <li>Barranquilla</li>
                <li>Home</li>
                <li>Ayuda</li>
                <li>Contacto</li>
            </ul>
        </nav>
    </header>
    <section class="Description_photo">
        <h1>Maria Mulata</h1>
        <p>Nombre Cientifico : Quiscalus lugubris</p>
        <p>
            conocida en algunas regiones como tordo caribeño, tordo negro, tordo llaneroo o zanate, que habita en lugares calientes. Es de color negro y representa la fauna de Colombia
            es un ave gregaria y muy inteligente, emblemática de la costa Caribe colombiana, reconocida por su plumaje negro iridiscente (machos) o marrón (hembras), ojos amarillos y larga cola. Son aves ruidosas, omnívoras y adaptables, a menudo vistas en grandes grupos urbanos.
        </p>
        <h1>
            Características Principales:
        </h1>
        <p>
            1 - Apariencia: Presenta dimorfismo sexual. El macho mide hasta 43 cm, es negro con brillo azulado y una cola larga. La hembra es más pequeña (33 cm) y de color marrón.
        </p>
        <p>
            2 - Comportamiento: Son astutas, audaces y, a veces, agresivas al defender sus nidos. Emiten cantos fuertes y estridentes.
        </p>
        <p>
            3 - Hábitat: Comunes en zonas costeras, manglares, y adaptadas a entornos urbanos como Barranquilla.
        </p>
        <p>
            4 - Alimentación: Omnívoras; consumen frutos, insectos, pequeños vertebrados y desechos humanos.
        </p>
    </section>
    <mai class="Conatainer-master">
        <div class="Description-bandera">
            <h2>Bandera de Barranquilla</h2>
            <p> La bandera de Barranquilla, conocida como la "cuadrilonga", está conformada por tres rectángulos concéntricos de colores rojo (exterior), amarillo (central) y verde (interno), 
                con una estrella blanca de ocho puntas en el centro. Adoptada en 1910, simboliza la tradición patriota y el espíritu navegante de la ciudad</p>
            <h2>Características Detalladas:</h2>
            <p>
                - Diseño: Rectángulos concéntricos (rojo, amarillo, verde) con una estrella blanca de plata en el centro.
            </p>
            <h2>Significado de los Colores:
            </h2>
            <p>
                1 - Rojo: Representa la sangre de los patriotas y la lucha por la libertad.
            </p>
            <p>
                2 - Amarillo: Simboliza el sol de la libertad, la riqueza y la soberanía.
            </p>
            <p>
                3 - Verde: Simboliza la esperanza de una patria digna.
            </p>
            <p>
               4 -  La Estrella de Plata: De ocho puntas, representa las ocho provincias confederadas de la Nueva Granada, haciendo alusión al espíritu patriota y navegante.
            </p>
            <h2>Origen e Historia:</h2>
            <p>
                Esta bandera es la misma utilizada por Cartagena de Indias, conocida históricamente como la bandera de la "cuadrilonga" o de las Provincias Unidas de la Nueva Granada, la cual fue adoptada por 
                Barranquilla en 1910, según información de y detallado en. La bandera fue llevada por Simón Bolívar durante la campaña del Bajo Magdalena en 1812.
            </p>
            <img src="/Assets/Picture/1.jpg" alt="" class="bandera-1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62667.48133569853!2d-74.85917466555973!3d10.98467658914662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d44d12ae605%3A0x2633844581b917b2!2sBarranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses!2sco!4v1776193241017!5m2!1ses!2sco" width="400" height="450" style="align-content: center;justify-content: center;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="Description-alcalde">
            <h2>Alacalde De Barranquilla</h2>
            <p>Alejandro Char Chaljub (Barranquilla, 16 de abril de 1966)</p>
            <figure>

                <img src="/Assets/Picture/char.jpeg" alt="" class="alcalde">
            </figure>
            <p> es un político, ingeniero civil y empresario colombiano de ascendencia siria.Actualmente es alcalde de Barranquilla.</p>
            <p>Inició en la política cuando fue concejal de Barranquilla en 1997 por el Partido Liberal. Fue gobernador del Atlántico tras la destitución de Ventura Díaz Mejía 
                en 2003. Fue alcalde de Barranquilla en los periodos 2008-2011 y 2016-2019. Pertenece al Cambio Radical. Es ingeniero civil graduado de la Universidad del Norte, 
                especializado en ingeniería de proyectos mineros, estudió alta gerencia en la Universidad de los Andes y magíster en gerencia de proyectos del Georgia Institute of Technology. 
                stuvo al frente de la constructora de su propiedad Alejandro Char & Cía.</p>
            <p>
                Fue precandidato presidencial en 2022. El 29 de octubre del 2023, fue elegido nuevamente como alcalde de Barranquilla para el periodo 2024 - 2027.
            </p>
            <h2>Biografia</h2>
            <p>Es hijo de Fuad Char y de Adela Chaljub (fallecida en 1994). Es hermano del exsenador Arturo Char y de Antonio Char. Está casado con la exreina del carnaval de Barranquilla 1995 Katia Margarita Nule Marino desde el 27 de agosto de 1999, con quien tiene 2 hijos, 
                Alejandro y Mariana Char Nule y su hijo mayor Steven Char Ramos, fruto de una relación antes de su matrimonio con Katia Nule.
            </p>
        </div>
        <div class="collage-photo">
            <h2>Fotos de Barranquilla</h2>
            <figure>
                <h3>La catedral</h3>
                <img src="/Assets/Picture/catedral-scaled.jpeg" alt="" class="fotos">
                <h3>Puerto Mocho</h3>
                <img src="/Assets/Picture/Puerto_Mocho,_Barranquilla.jpg" alt="" class="fotos">
                <h3>Ventana del Mundo</h3>
                <img src="/Assets/Picture/ventana.jpg" alt="" class="fotos">
            </figure>
        </div>
    </mai>  
    <footer class="pie-pagina">
        <nav class="navegation">
            <ul>
                <li>
                    <img src="/Assets/Picture/1.jpg" alt="" class="bandera">
                </li>
                <li>Barranquilla</li>
                <li>Home</li>
                <li>Ayuda</li>
                <li>Contacto</li>
            </ul>
        </nav>
    </footer>
</body>
<script src="/Assets/Script/modelo.js"></script>
</html>